network:
  system:
    vlan: False
    wpa: True
  interfaces:
    eth0:
      enabled: True
      hotplug: False
      proto: dhcp
    eth0.123:
      enabled: True
      hotplug: False
      type: vlan
      proto: static
      ipaddr: 192.168.1.49
      netmask: 255.255.255.0
      gateway: 192.168.1.1
    eth1:
      enabled: True
      hotplug: False
      proto: static
      ipaddr: 192.168.1.49
      netmask: 255.255.255.0
      gateway: 192.168.1.1
    wlan0:
      enabled: False
      hotplug: True
      proto: manual
      wpa:
        ssid: LeWifi
        psk: LeMotDePasse
