network:
  manage_metric: True
  manage_vlan: False
  manage_wireless: True

  system:
    hostname: my.domain.fr
    retain_settings: False
    gateway: 192.168.1.1
    gatewaydev: eth0

  hosts:
    only:
      10.0.0.1:
        - server1.domain.com
        - server2.domain.com
    present:
      server3.domain.com:
        - 192.168.1.5
        - 192.168.1.6
    absent:
      server4.domain.com:
        - 192.168.1.7

  interfaces:
    eth0:
      enabled: True
      hotplug: False
      type: eth
      proto: dhcp
    eth0.123:
      enabled: True
      hotplug: False
      type: vlan
      vlan_device: eth0
      proto: static
      ipaddr: 192.168.1.49
      netmask: 255.255.255.0
      gateway: 192.168.1.1
    eth1:
      enabled: True
      hotplug: False
      type: eth
      proto: static
      ipaddr: 192.168.1.49
      netmask: 255.255.255.0
      gateway: 192.168.1.1
    wlan0:
      enabled: False
      hotplug: True
      type: eth
      proto: manual
      wpa:
        network:
          ssid: LeWifi
          psk: LeMotDePasse

  routes:
    eth0:
      - name: secure_network
        ipaddr: 10.2.0.0
        netmask: 255.255.255.0
        gateway: 10.1.0.3
      - name: HQ_network
        ipaddr: 10.100.0.0
        netmask: 255.255.0.0
        gateway: 10.1.0.10

  routing_tables:
    - table1
    - table2
