# -*- coding: utf-8 -*-
# vim: ft=jinja:ts=2:sw=2

{## Start with  defaults from defaults.sls ##}
{% import_yaml "network/defaults.yaml" as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'netplug_packages': ['netplug'],
        'metric_packages': ['ifmetric'],
        'bridge_packages': ['bridge-utils'],
        'vlan_packages': ['vlan'],
        'bond_packages': ['ifenslave'],
        'wireless_packages': ['wireless-tools', 'wpasupplicant', 'iw'],
        'dhclient_packages': ['isc-dhcp-client'],
        'firmware_packages': ['firmware-realtek', 'firmware-atheros', 'firmware-iwlwifi'],
        'resolvconf_packages': ['resolvconf'],
        'resolvconf_conf_dir': '/etc/resolvconf/resolv.conf.d',
        'resolvconf_interface_order_file': '/etc/resolvconf/interface-order',
        'conf_file': '/etc/network/interfaces',
        'wpa_conf_dir': '/etc/wpa_supplicant',
        'dhclient_conf_file': '/etc/dhcp/dhclient.conf',
        'rt_tables_file': '/etc/iproute2/rt_tables',
    },
}, grain='os_family', merge=salt['pillar.get']('network:lookup'), default='Debian') %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.network.update(os_family_map) %}

{## Merge in network pillar ##}
{% set network = salt['pillar.get'](
  'network',
  default=default_settings.network,
  merge=True)
%}
